/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 600;
    src: url(google-icons.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --plyr-color-main: #D13A9C;
}

.first-header{
    /* background: linear-gradient(189.97deg, rgba(0, 0, 0, 0.69) 23.57%, rgba(0, 0, 0, 0.31) 45.76%, rgba(0, 0, 0, 0.54) 66.13%, rgba(0, 0, 0, 0) 86.25%), url('../images/header-bg.png');  */
    background: url('../images/pexels-diva-plavalaguna-6985519_AdobeCreativeCloudExpress-2.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.first-header::before {
    background: linear-gradient(189.97deg, rgba(0, 0, 0, 0.69) 23.57%, rgba(0, 0, 0, 0.31) 45.76%, rgba(0, 0, 0, 0.54) 66.13%, rgba(0, 0, 0, 0) 86.25%);
}

.header-bg2::before {
    background: linear-gradient(189.97deg, #000000 23.57%, rgba(0, 0, 0, 0.41) 45.76%, rgba(0, 0, 0, 0.6) 66.13%, rgba(0, 0, 0, 0) 86.25%);
}

.show-me {
    visibility: visible !important;
    opacity: 1 !important;
    width: 100%;
    height: max-content;
    max-width: 100%;
    top: 100%;
    transition: visibility 1s ease, opacity 1s ease, width 1.5s ease, height 1.5s ease, width 0.1s ease;
}

.pop-out {
    z-index: 2000;
    transform: scale(1.2) translateY(-50px);
    transition: all ease-out 0.5s;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.8);
}

.pop-out h4 {
    /* color: #FFED4F !important; */
    bottom: 1rem;
}

.slick-list {
    margin-left: 3rem;
    margin-right: 3rem;
    overflow: visible;
    z-index: 100;
}

.all-course-sliders:hover .slick-arrow {
    background-color: rgba(0, 0, 0, 0.2);
}

.all-course-sliders:hover .slick-arrow:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.all-course-sliders:hover .slick-arrow span {
    display: inline-block !important;
}

.course-slider-1 img {
    display: unset;
    width: unset;
}

.colorful-section {
    background: url('../images/bigstock-Confident-Young-Businesswoman--321956473 1.png');
    background-size: cover;
    /* backdrop-filter: blur(10px); */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

@media (max-width: 650px) {
    .hide-sm {
        display: none
    }
}

@media (max-width: 440px) {
    .hide-xsm {
        display: none !important;
    }
}

.card:hover .to-remove {
    display: none;
}

.show-us {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease-out;
}


/**************************\
  Basic Modal Styles
\**************************/

.modal {
    /* font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
    z-index: 3000;
    position: relative;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    overflow-y: initial;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  .notifications-table {
    border-collapse: separate;
    border-spacing: 40px 32px;
  }

  .show-acc {
    opacity: 1;
    visibility: visible;
    width: unset;
    height: fit-content;
    transition: all 0.5s ease;
  }

  .hide-preview {
    opacity: 0;
    visibility: hidden;
  }