header{
    /* background: linear-gradient(189.97deg, rgba(0, 0, 0, 0.69) 23.57%, rgba(0, 0, 0, 0.31) 45.76%, rgba(0, 0, 0, 0.54) 66.13%, rgba(0, 0, 0, 0) 86.25%), url('../images/header-bg.png');  */
    background: url('../images/header-bg.png');
}

header::before {
    background: linear-gradient(189.97deg, rgba(0, 0, 0, 0.69) 23.57%, rgba(0, 0, 0, 0.31) 45.76%, rgba(0, 0, 0, 0.54) 66.13%, rgba(0, 0, 0, 0) 86.25%);
}

.header-bg2::before {
    background: linear-gradient(189.97deg, #000000 23.57%, rgba(0, 0, 0, 0.41) 45.76%, rgba(0, 0, 0, 0.6) 66.13%, rgba(0, 0, 0, 0) 86.25%);
}

.show-me {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.7s ease;
}

.pop-out {
    transform: scale(1.3);
}

.slick-list {
    margin-left: 3rem;
    margin-right: 3rem;
    /* overflow: visible; */
}

.all-course-sliders:hover .slick-arrow {
    background-color: rgba(0, 0, 0, 0.2);
}

.all-course-sliders:hover .slick-arrow:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.all-course-sliders:hover .slick-arrow span {
    display: inline-block !important;
}

.course-slider-1 img {
    display: unset;
    width: unset;
}

.colorful-section {
    background: url('../images/bigstock-Confident-Young-Businesswoman--321956473 1.png');
    background-size: cover;
    /* backdrop-filter: blur(10px); */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

@media (max-width: 650px) {
    .hide-sm {
        display: none
    }
}

@media (max-width: 440px) {
    .hide-xsm {
        display: none !important;
    }
}

.pop-card {
    /* animation: showCard 3s ease-in-out; */
    width: 284px;
    height: auto;
    transition: all .1s ease-in;
    position: absolute !important;
}

.pop-card .course-action {
    transition: all .1s ease-in;
    /* width: 284px;
    height: auto */
}

.the-card {
    /* position: relative; */
    transition: all .5s ease-out;
}

.pop-card .card-title {
    position: absolute !important;
    visibility: visible;
}

@keyframes showCard {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 300px;
        height: 300px;
    }
}